
<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sanket's Online Resume</title>
    <!-- Favicon -->
    <link rel="icon" href="img/favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Style CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Owl Carousel -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- Hover Effects-->
    <link href="css/hover.css" rel="stylesheet" media="all">
    <link href="css/buttons.css" rel="stylesheet">
<!--Preloader Effect-->
    <link rel="stylesheet" href="css/loader.css">

    <!--Wow style css-->
    <link href="css/animate.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Antic' rel='stylesheet' type='text/css'>


</head>

<body id="page" class="index" data-ng-controller='feedbackController'>
    <!-- Pre-loader Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div id="loader-wrapper">
        <div class="loader">
            <div class="loader-inner ball-clip-rotate-pulse">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Header -->
    <section id="home" data-section-menu="Home">
        <div class="container">
            <!-- Cover element
      ================================================== -->
            <div class="intro-text">
                <div class="skew-neg">
                    <div class="skew-pos" style="padding:40px 0">

                        <div class="intro-lead-in">I'M</div>
                        <h1 class="intro-heading">SANKET KUMAR</h1>
                        <div class="intro-heading">WEB DESIGNER</div>
                        <div class="intro-heading">FRONT END DEVELOPER</div>
                        <div class="intro-lead-in">FROM MUMBAI , INDIA</div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </section>


    <!-- About Section -->
    <section id="about" class="wow fadeInUp" data-wow-duration="1s" data-section-menu="About">
        <div class="container">
            <div class="row margin-bottom-40">
                <div class="col-lg-4">
                    <div class="section-header-wrapper">
                        <div class="skew-neg">
                            <div class="skew-pos">
                                <h3 class="section-subheading">A LOOK INTO WHAT I'M REALLY ALL</h3>
                                <h2 class="section-heading">ABOUT ME</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <p class="description">Hi! I'm Sanket Kumar, a graduate student at Northeastern University in Boston. I have previously worked as a software developer at Tata Consultancy Services Ltd., focusing mainly on Responsive Web Design and Mobile based web developement.</p>
                    <p class="description">Besides this website, I also have some other projects in the works. Specifically, I have experience with HTML, CSS, AngularJs, Javascript, jQuery, Android and Java. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div id="profile-pic" class="museBGSize grpelem">
                     <p class="aut_nam">Sanket Kumar</p>  
                        <!-- simple frame -->
                    </div>
                </div>
                <div class="col-md-9">
                    <p>As a developer at <b>Tata Consultancy Services Ltd.</b>, one of the largest IT firms in the world, I had the opportunity to work on different software projects in various capacities. I was a part of the team which developed a system to track and manage Customer Visits that took place at various TCS premises over the world.</p>
                    <div class="margin-bottom-30"></div>
                    <p>A downloadable version of my resume is available here. </p>
                    <div class="row button-row">
                        <div class="col-md-3">
                            <a class="btn button-winona btn-download margin-bottom-30" data-text="DOWNLOAD MY RESUME" href="Sanket_Kumar_Resume.docx"> <span> DOWNLOAD MY RESUME </span>
                            </a>
                        </div>
                        <div class="col-md-3"> <a class="btn button-winona btn-name btn-primary margin-bottom-30" data-text="Sanket Kumar" href="#"><span class="name">Sanket Kumar</span></a> </div>
                        <div class="col-md-6">
                            <ul class="social-buttons list-inline">
                             	<li><a href="https://in.linkedin.com/in/sanket-kumar-5805364b" class=""><i class="fa fa-linkedin fa-block"></i></a>
                                </li>
                                <li><a href="https://github.com/sanketk07" class=""><i class="fa fa-github fa-block"></i></a>
                                </li>                                
			    	<li><a href="https://www.facebook.com/sanketk07" class=""><i class="fa fa-facebook fa-block"></i></a>
                                </li>
                                <li><a href="https://twitter.com/sanketskumar" class=""><i class="fa fa-twitter fa-block"></i></a>
                                </li>      
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row stats_sec">

			 <div class="col-md-3">
                    <div class="about-stats">
                        <h3>EXPERIENCE</h3>
                        <p>2.9 Years</p>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="about-stats">
                        <h3>HOBBIES</h3>
                        <p>Cricket , Movies</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about-stats">
                        <h3>BORN</h3>
                        <p>07 - NOV - 1991</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="about-stats">
                        <h3>LANGUAGES</h3>
                        <p>English, Hindi, Marathi</p>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- Statics Section -->
    <section id="statics">
        <div class="container">
            <div class="row margin-bottom-40">
                <div class="col-lg-4 col-lg-offset-4 text-center text-white">
                    <div class="section-header-wrapper text-white text-center">
                        <div class="skew-neg">
                            <div class="skew-pos">
                               
                                <h2 class="section-heading">ACADEMICS & ACHIEVEMENTS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="statics-stats">
                        <h3> <span class="counter">71</span>%</h3>
                        <p>B.E</p>
                    </div>
                </div>
				<div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="statics-stats">
                        <h3> CS</h3>
                        <p>Major</p>
                    </div>
                </div>


                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="statics-stats">
                        <h3><span class="counter">80</span>%</h3>
                        <p>GRADE 12</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="statics-stats">
                        <h3><span class="counter">86</span>%</h3>
                        <p>GRADE 10</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="statics-stats">
                        <h3><span class="counter">8</span></h3>
                        <p>CERTIFICATIONS</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="statics-stats">
                        <h3><span class="counter">10</span></h3>
                        <p>AWARDS</p>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
    <!-- Resume Section -->
    <section id="resume" data-section-menu="Resume">
        <div class="container">
            <div class="row margin-bottom-40">
                <div class="col-lg-4">
                    <div class="section-header-wrapper">
                        <div class="skew-neg">
                            <div class="skew-pos">
                                <h3 class="section-subheading">A LOOK INTO WHAT I'M CARRIER TO</h3>
                                <h2 class="section-heading">RESUME</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <p class="description">A brief overview of my education and the projects that I have worked on over the past years.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-section">
                            <div class="timeline-section-heading">
                                <h4>PROFESSIONAL EXPERIENCE</h4>
                            </div>
                        </li>
                       <li>
                            <div class="timeline-image">
                                <div><i style="line-height:60px;" class="fa fa-pencil fa-block"></i>
                                </div>
                            </div>
                            <div class="timeline-panel wow fadeInLeft" data-wow-duration="1s">
                                <div class="timeline-heading">
                                    <h4>Visit Application</h4>
                                    <h6 class="text-muted" style="font-size: 0.6em;margin-right: 10px;font-family: 'Arial';">Apr 2014 - Sep 2016 </h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A system to log and track Client Visits occuring in TCS premises across the globe.</p>
                                    <p class="text-muted" style="font-size: 0.8em;"><b>HTML5 | CSS3 | AngularJS | JavaScript | jQuery | Bootstrap | Responsive Web Design</b></p>
                                    <div class="btn-resume">
                                        <a class="btn button-winona btn-primary margin-bottom-30" data-text="LEARN MORE" href="#"> <span> LEARN MORE </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
			    
                       <li class="timeline-inverted">
                            <div class="timeline-image">
                                <div><i style="line-height:60px;" class="fa fa-book fa-block"></i>
                                </div>
                            </div>
                            <div class="timeline-panel wow fadeInRight" data-wow-duration="1s">
                                <div class="timeline-heading">
                                    <h4>Hybrid App - Visit Application</h4>
                                    <h6 class="text-muted" style="font-size: 0.6em;margin-left: 10px;font-family: 'Arial';">Apr 2014 - Sep 2016</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A hybrid application for mobile based approach to the Visit Application.</p>
                                    <p class="text-muted" style="font-size: 0.8em;"><b> Android | iOS </b></p>
                                    <div class="btn-resume">
                                        <a class="btn button-winona btn-primary margin-bottom-30" data-text="LEARN MORE" href="#"> <span> LEARN MORE </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
			    
			<li>
                            <div class="timeline-image">
                                <div><i style="line-height:60px;" class="fa fa-pencil fa-block"></i>
                                </div>
                            </div>
                            <div class="timeline-panel wow fadeInLeft" data-wow-duration="1s">
                                <div class="timeline-heading">
                                    <h4>Library Management Application</h4>
                                    <h6 class="text-muted" style="font-size: 0.6em;margin-right: 10px;font-family: 'Arial';">Dec 2013 - Mar 2014 </h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Web application developed for managing the quotidian library transactions like tracking orders and managing book issue and returns.</p>
                                    <p class="text-muted" style="font-size: 0.8em;"><b>HTML5 | CSS3 | JavaScript | jQuery | Bootstrap </b></p>
                                    <div class="btn-resume">
                                        <a class="btn button-winona btn-primary margin-bottom-30" data-text="LEARN MORE" href="#"> <span> LEARN MORE </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>    
                       
                       
                        
                       
                      
                        <li class="timeline-section">
                            <div class="timeline-section-heading">
                                <h4>EDUCATION</h4>
                            </div>
                        </li>
			    
			  <li>
                            <div class="timeline-image">
                                <div><i style="line-height:60px;" class="fa fa-pencil fa-block"></i>
                                </div>
                            </div>
                            <div class="timeline-panel wow fadeInLeft" data-wow-duration="1s">
                                <div class="timeline-heading">
                                    <h4>NORTHEASTERN UNIVERSITY, BOSTON</h4>
                                    <h6 class="text-muted" style="font-size: 0.8em;margin-right: 10px;font-family: 'Arial';">Master of Science - Information Systems, Anticipated - Aug 2018</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Relevant Courses</p>
                                    <p class="text-muted" style="font-size: 0.8em;"><b>Application Engineering and Design | Web Design and User Experience Engineering</b></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <div><i style="line-height:60px;" class="fa fa-book fa-block"></i>
                                </div>
                            </div>
                            <div class="timeline-panel wow fadeInRight" data-wow-duration="1s">
                                <div class="timeline-heading">
                                    <h4>UNIVERSITY OF MUMBAI, MUMBAI</h4>
                                    <h6 class="text-muted" style="font-size: 0.8em;margin-left: 10px;font-family: 'Arial';">Bachelor of Engineering - Computer Engineering, Aug 2009 - May 2013</h6>
				    <h6 class="text-muted" style="font-size: 0.8em;margin-left: 10px;font-family: 'Arial';">First Class with Distinction | Merit Scholarship</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Relevant Courses</p>
                                    <p class="text-muted" style="font-size: 0.8em;"><b> Web Engineering | E-Commerce | Human Computer Interaction | Analysis of Algorithm and Design | System Security | Data Structures | Advanced Database</b></p>
                                    
                                </div>
                            </div>
                        </li>
			    
			  <li class="timeline-section">
                            <div class="timeline-section-heading">
                                <h4>ACADEMICS</h4>
                            </div>
                        </li>
			    
			 <li>
                            <div class="timeline-image">
                                <div><i style="line-height:60px;" class="fa fa-pencil fa-block"></i>
                                </div>
                            </div>
                            <div class="timeline-panel wow fadeInLeft" data-wow-duration="1s">
                                <div class="timeline-heading">
                                    <h4>NUFinder</h4>
                                    <h6 class="text-muted" style="font-size: 0.6em;margin-right: 10px;font-family: 'Arial';">December 2016</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Portal to track and report your lost belongings</p>
                                    <p class="text-muted" style="font-size: 0.8em;"><b>HTML5 | CSS3 | AngularJS | Google Firebase | JavaScript | jQuery </b></p>
                                    <div class="btn-resume">
                                        <a class="btn button-winona btn-primary margin-bottom-30" data-text="LEARN MORE" href="https://nufinder-390bf.firebaseapp.com"> <span> LEARN MORE </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
			    
			    <li class="timeline-inverted">
                            <div class="timeline-image">
                                <div><i style="line-height:60px;" class="fa fa-book fa-block"></i>
                                </div>
                            </div>
                            <div class="timeline-panel wow fadeInRight" data-wow-duration="1s">
                                <div class="timeline-heading">
                                    <h4>Drinking Water Quality Monitoring System</h4>
                                    <h6 class="text-muted" style="font-size: 0.6em;margin-left: 10px;font-family: 'Arial';">December 2016</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">iOT based Java application to ensure the quality of drinking water</p>
                                    <p class="text-muted" style="font-size: 0.8em;"><b>Java Swing | JFreeCharts | Db4o </b></p>
                                    <div class="btn-resume">
                                        <a class="btn button-winona btn-primary margin-bottom-30" data-text="LEARN MORE" href="#"> <span> LEARN MORE </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>  
                        
                         <li>
                            <div class="timeline-image">
                                <div><i style="line-height:60px;" class="fa fa-pencil fa-block"></i>
                                </div>
                            </div>
                            <div class="timeline-panel wow fadeInLeft" data-wow-duration="1s">
                                <div class="timeline-heading">
                                    <h4>e-Bazaar</h4>
                                    <h6 class="text-muted" style="font-size: 0.6em;margin-right: 10px;font-family: 'Arial';">September 2012 - November 2012</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Online Electronics Store</p>
                                    <p class="text-muted" style="font-size: 0.8em;"><b>HTML | CSS | JavaScript | jQuery | JSP </b></p>
                                    <div class="btn-resume">
                                        <a class="btn button-winona btn-primary margin-bottom-30" data-text="LEARN MORE" href="#"> <span> LEARN MORE </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <div><i style="line-height:60px;" class="fa fa-book fa-block"></i>
                                </div>
                            </div>
                            <div class="timeline-panel wow fadeInRight" data-wow-duration="1s">
                                <div class="timeline-heading">
                                    <h4>Online Ice-Cream Parlour</h4>
                                    <h6 class="text-muted" style="font-size: 0.6em;margin-left: 10px;font-family: 'Arial';">February 2012 - April 2012</h6>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Online portal to order and enjoy the most delicious ice-creams!</p>
                                    <p class="text-muted" style="font-size: 0.8em;"><b>HTML | CSS | JavaScript </b></p>
                                    <div class="btn-resume">
                                        <a class="btn button-winona btn-primary margin-bottom-30" data-text="LEARN MORE" href="#"> <span> LEARN MORE </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>   
			    
                    </ul>
                </div>
            </div>
        </div>
    </section>
  
  
    <!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 text-center margin-bottom-50">
                    <div class="section-header-wrapper text-white text-center">
                        <div class="skew-neg">
                            <div class="skew-pos">
                                <h3 class="section-subheading">A LOOK INTO WHAT I'M DOING</h3>
                                <h2 class="section-heading">MY SKILLS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer40"></div>
            <div class="row text-center">
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="skills-stats">
                        <canvas width="170" height="170" id="chart-area1"> </canvas>
                        <h3>95%</h3>
                        <p>HTML 5</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="skills-stats">
                        <canvas width="170" height="170" id="chart-area2"> </canvas>
                        <h3>90%</h3>
                        <p>CSS 3</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="skills-stats">
                        <canvas width="170" height="170" id="chart-area3"> </canvas>
                        <h3>90%</h3>
                        <p>AngularJS</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="skills-stats">
                        <canvas width="170" height="170" id="chart-area4"> </canvas>
                        <h3>85%</h3>
                        <p>JavaScript</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="skills-stats">
                        <canvas width="170" height="170" id="chart-area5"> </canvas>
                        <h3>80%</h3>
                        <p>JQuery</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <div class="skills-stats">
                        <canvas width="170" height="170" id="chart-area6"> </canvas>
                        <h3>70%</h3>
                        <p>Android</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
    <!-- Contact Section -->
    <section id="contact" data-section-menu="Contact">
        <div class="container">
            <div class="row margin-bottom-60">
                <div class="col-lg-4">
                    <div class="section-header-wrapper">
                        <div class="skew-neg">
                            <div class="skew-pos" style="text-align: center;">
                              
                                <h2 class="section-heading" style="padding-left: 0px;">CONTACT ME</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                   
                </div>
            </div>
        </div>
        <div class="g-map">
            <iframe width="1000" height="473" style="width:100%; border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.15218775375!2d-71.0983695848649!3d42.31795264575287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37bd59f8dae49%3A0xe6b26013c86414da!2s2973+Washington+St%2C+Boston%2C+MA+02119!5e0!3m2!1sen!2sus!4v1473011655817" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="footer-secondary margin-bottom-60">
            <div class="container">
                <div class="row text-center wow fadeInUp" data-wow-duration="1s">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <h3>Sanket Kumar</h3>
                        <p>Boston
                            <br> Massachusetts , United States</p>
                    </div>
                    <div class="col-md-3">
                        <h3>E-MAIL &amp; PHONE</h3>
                        <p>sanketskumar@gmail.com
                            <br> +1(857)334-2206 </p>
                    </div>
                    <div class="col-md-5">
                        <h3>MY SOCIAL NETWORK</h3>
                        <ul class="social-buttons social-buttons-inverse list-inline">
                             <li><a href="https://in.linkedin.com/in/sanket-kumar-5805364b"><i class="fa fa-linkedin fa-inverse fa-block"></i></a>
                             </li>
			     <li><a href="https://github.com/sanketk07"><i class="fa fa-github fa-inverse fa-block"></i></a>
                             </li>
			     <li><a href="https://www.facebook.com/sanketk07"><i class="fa fa-facebook fa-inverse fa-block "></i></a>
                             </li>
                             <li><a href="https://twitter.com/sanketskumar"><i class="fa fa-twitter fa-inverse fa-block "></i></a>
                             </li>
                           
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInUp" data-wow-duration="1s">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" data-ng-model="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" data-ng-model="email" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" data-ng-model="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div id="success"></div>
                                <button type="submit" class="btn button-winona btn-submit btn-primary" data-text="SUBMIT" data-ng-click="recordFeedback();"> <span> SUBMIT </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6"> <span class="copyright text-left">&copy; 2017 Sanket, ALL  Rights RESERVED. </span> </div>
                <div class="col-md-6"> <span class="copyright text-right">DESIGNED &amp; DEVELOPED BY <a href="">SANKET KUMAR</a></span> </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script type="text/javascript" src="js/angular-1.4.4.js"></script>
    <script src="js/angularfire.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>-->

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB-85bXU611WlZ2NdhBXZ7bGosHO424QJg",
    authDomain: "onlineportfoliofeedback-6235b.firebaseapp.com",
    databaseURL: "https://onlineportfoliofeedback-6235b.firebaseio.com",
    storageBucket: "onlineportfoliofeedback-6235b.appspot.com",
    messagingSenderId: "923953533805"
  };
  firebase.initializeApp(config);
</script>

<script type="text/javascript">
  
  var app = angular.module('myApp', ['firebase']);
  app.controller('feedbackController', ['$scope','$firebaseArray', '$timeout',function($scope, $firebaseArray, $timeout) {
    
    var rootRef = firebase.database().ref();
    $scope.data=$firebaseArray(rootRef);
    
    var monthNames = ["January", "February", "March","April", "May", "June", "July","August", "September", "October","November", "December"];

    var date = new Date();
    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();
    var timeStamp= day+"-"+monthNames[monthIndex]+"-"+year + " @ "  + date.getHours() + ":"  + date.getMinutes() + ":" + date.getSeconds();
        
    $scope.recordFeedback=function(){
        console.log('Inside recordFeedback method');
        firebase.database().ref('User Feedbacks/' + $scope.name + ": "+ timeStamp).set({     
            userName: $scope.name,
            userEmail: $scope.email,
            userMessage: $scope.message,
            postedOn: timeStamp
        }).then(function(rootRef){
            
                    $('#success').html("<div class='alert alert-success'>");
                    $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                        .append("</button>");
                    $('#success > .alert-success')
                        .append("<strong>Your message has been sent. </strong>");
                    $('#success > .alert-success')
                        .append('</div>');

                    $('#contactForm').trigger("reset");

        }).error(function(rootRef){
            $('#success').html("<div class='alert alert-danger'>");
                    $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                        .append("</button>");
                    $('#success > .alert-danger').append("<strong>Sorry " + firstName + ", it seems that my mail server is not responding. Please try again later!");
                    $('#success > .alert-danger').append('</div>');

                    $('#contactForm').trigger("reset");
            
            });
        
        
    };
  
  }]);
</script>

    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <!--<script src="js/contact_me.js"></script>-->
    <!-- Mixitup JavaScript -->
    <script src="js/jquery.mixitup.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fragmentscroll.js"></script>
    <script src="js/jquery.sectionmenu.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/retina.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/main.js"></script>
    

</body>

</html>
